ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  li:last-child {
    border-right: none;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: #111;
  }
  .active {
    background-color: #032f1f;
  }
  .login-user {
    height: 1em;
    margin-right: 0.5em;
    vertical-align: bottom;
 }
 table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }
  body {
    background-color: lightblue;
  }
  
  h1 {
    color: rgb(141, 141, 165);
    margin-right: 20px;
  }
  body {
    background-color: lightgrey;
    color: rgb(212, 39, 198);
  }
  
  h1 {
    background-color: black;
    color: white;
  }
  
  div {
    background-color: rgb(11, 11, 52);
    color: white;
  }
  body {
    color: rgb(12, 12, 17);
  }
  
  h1 {
    color: rgb(180, 49, 77);
  }
  p {
    text-align: center;
    color: rgb(191, 45, 196);
  }
  #para1 {
    text-align: center;
    color: rgb(5, 3, 12);
  }
.center {
    text-align: center;
    color: rgb(58, 35, 158);
  }
